.products__section {
  padding-right: 25px;
  padding-top: 24px;
}

.products__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 1.375rem;
  line-height: 1.3;
  color: var(--text-primary-color);
}

.cards__container {
  display: grid;
  gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cards__container {
    margin: 32px 0 0;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    max-width: 640px;
  }
}

@media screen and (min-width: 1024px) {
  .products__section {
    padding: 32px 24px 0;
  }

  .products__title {
    font-size: 1.625rem;
  }
}
