.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 432px;
}

.form__frame {
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.5;
}

.form__input {
  padding: 11px 20.02px;
  width: 100%;
  line-height: 1.5;
  border: 1px solid #c0c0c0;
  color: #3b3b3b;
}

.form__input:focus {
  border: 1px solid blue;
}

.form__input:invalid {
  border: 1px solid red;
}

.form__button {
  padding: 11px 24px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #fff;
  background-color: var(--cta-color);
  border: 1px solid var(--cta-color);
}

.form__arrow {
  padding-left: 3px;
  max-height: 15px;
}

@media screen and (min-width: 462px) {
  .form__container {
    margin: 0 auto;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .form__input {
    max-width: 324px;
  }

  .form__button {
    width: fit-content;
  }
}
